<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp Microservice | Dewa Palguna</title>
    <style>
        *{
            background-color: rgb(250, 250, 250);
        }
        h1, h2, p{
            text-align: center;
        }
        p#result span{
            background-color: white;
        }
        footer{
            margin-top: 75px;
        }
    </style>
</head>
<body>
    <h1>Timestamp Microservice</h1><hr>

    <h2>Example Usage:</h2>
    <p>
        <a href="/api/2015-12-25">[project_url]/api/2015-12-25</a>
    </p>
    <p>
        <a href="/api/1451001600000">[project url]/api/1451001600000</a>
    </p><br>

    <h2>Example Output:</h2>
    <p id="result"><span>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</span></p>

    <footer>
        <p>By <a href="https://dewapalguna900.github.io/" target="_blank">Dewa Palguna</a></p>
    </footer>
</body>
</html>